.CartDrawer-contain {
    text-align: center;
    padding: 6rem 0;
}

.CartDrawer-contain-img {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-image: url('https://image.pngaaa.com/288/2242288-middle.png');
}

.CartDrawer-contain-message {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: var(--color-subtext);
}