.CartDrawer-contain {
    text-align: center;
    padding: 6rem 0;
}

.CartDrawer-contain-img {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-image: url('https://w7.pngwing.com/pngs/587/275/png-transparent-computer-icons-secure-shell-font-variable-angle-text-rectangle.png');
}

.CartDrawer-contain-message {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: var(--color-subtext);
}