.content-container {
    margin-bottom: 30px;
    max-width: 1200px;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* Home sort + filter */

.home-filter {
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 20px;
    font-size: 1.4rem;
    background-color: var(--color-text-white);
}

.btn--primary {
    background-color: var(--color-primary);
}

.home-filter__label {
    color: #5555;
    font-size: 1.4rem;
    margin-right: 20px;
    margin-left: 20px;
}

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    margin-right: 25px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--color-subtext);
    margin-right: 22px;

}

.home-filter__page-current {
    color: var(--color-popy);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: flex;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--color-text-white);
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

/* Product-items */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--color-text-white);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-subtext);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-around;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-left: 10px;
}


.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--color-teal);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--color-text-white);
}

.home-product-item__favourite i {
    color: var(--color-text-white);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-of-percent {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 20px;
    right: 26px;
}

.home-product-item__sale-of-lable {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--color-text-white);
    font-weight: 600;
    position: relative;
    top: 3px;
    right: -3px;
}

.wrap-add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 15px;
    font-size: 1.4rem;
}

.wrap-add-cart .quantity {
    display: flex;
    align-items: center;
}

.wrap-add-cart .quantity input {
    width: 50px;
    height: 30px;
    align-self: center;
    text-align: center;
    margin: 0 5px;
}

.wrap-add-cart .btn-buyNow {
    margin-left: 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    position: relative;
    background: #ebebeb;
    cursor: pointer;
}

.btn-minusProduct,
.btn-plusProduct {
    background: inherit;
}