.sidebar {
    padding: 0 20px 0 0 !important
}

.sidebar-bg {
    background: var(--color-text-white);
    border-radius: 2px;
    border: 1px solid #ccc;
}

.sidebar-bg-title {
    background: var(--color-primary);
    color: var(--color-text-white);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebar-bg-title h3 {
    font-size: 1.5rem;
    font: 500;
}

.sidebar-bg-title i {
    font-size: 1.5rem;
    margin-bottom: 4px;
    margin-right: 8px;
}

.menu-list {
    font-size: 1.4rem;
    padding: 5px 5px 5px;
}

.menu-list ul {
    margin-bottom: 0;
    padding-right: 1.3rem;
    padding-left: 0;
}

.menu-list i {
    margin-right: 8px;
}

.navigation {
    --nav-height: 313px;
    background: #fff;
    min-height: 100%;
    overflow-y: auto;
}

.navigation .menu-item {
    position: initial;
}

.navigation .list-group-item {
    padding: 8px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1.2rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc !important;
}

.borderBottomNone {
    border-bottom: none !important;
}