.heading {
    background: -moz-radial-gradient(circle at 16% 25%, rgba(18, 137, 167, 1) 0%, rgba(6, 82, 221, 1) 100%);
    background: -webkit-radial-gradient(circle at 16% 25%, rgba(18, 137, 167, 1) 0%, rgba(6, 82, 221, 1) 100%);
    background: -o-radial-gradient(circle at 16% 25%, rgba(18, 137, 167, 1) 0%, rgba(6, 82, 221, 1) 100%);
    background: -ms-radial-gradient(circle at 16% 25%, rgba(18, 137, 167, 1) 0%, rgba(6, 82, 221, 1) 100%);
    background: radial-gradient(circle at 16% 25%, rgba(18, 137, 167, 1) 0%, rgba(6, 82, 221, 1) 100%);
}

.footing {
    border-top: 4px solid #0652DD;
    background: var(--color-footer);
}

.body-container,
.footing {
    min-width: 1200px;
}

.body-container {
    background: var(--color-subbg);
    padding-top: 2px;
}

.wide-nave-wrapper {
    background: var(--color-primary);
    font-size: 1.4rem;
    color: var(--color-text-white);
    padding: 15px 0;
    margin-bottom: 25px;
}